.frnt-pg {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(180deg,rgb(252, 134, 0), rgb(000,000,000)); */
    background-image: url('../../resources/img/frontbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
    /* padding-top: 5.9%; */
}

.dp{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50%;
}

.frnt-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 200px;
    /* padding-bottom: 50px; */
}

.frnt-hdn-txt {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    /* height: 100vh; */
    /* padding-top: 100px; */
    margin-left: 20px;
    margin-right: 20px;
}

.frnt-grt{
    color: aliceblue;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
}

.frnt-hdn-nm {
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-fill-color: rgb(191, 185, 185);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
}

.frnt-hdn-desc {
    padding-top: 10px;
    font-size: 17px;
    /* padding-right: 20px; */
    text-align: justify;
}

.aws-btn {
    --button-default-height: 44px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 4px;
    --button-horizontal-padding: 16px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: 0.15s;
    --button-primary-color: #1e88e5;
    --button-primary-color-dark: #1360a4;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #187bd1;
    --button-primary-color-active: #166dba;
    --button-primary-border: none;
    --button-secondary-color: #000000 !important;
    --button-secondary-color-dark: #44423f !important;
    --button-secondary-color-light: #fa8500 !important;
    --button-secondary-color-hover: #383939 !important;
    --button-secondary-color-active: #383939 !important;
    --button-secondary-border: 2px solid #938a8a !important;
    --button-anchor-color: #0e4f88;
    --button-anchor-color-dark: #072743;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #0d4a7f;
    --button-anchor-color-active: #0c4271;
    --button-anchor-border: none;
    --button-danger-color: #c42e2e;
    --button-danger-color-dark: #861f1f;
    --button-danger-color-light: #ffffff;
    --button-danger-color-hover: #bc2c2c;
    --button-danger-color-active: #af2929;
    --button-danger-border: none;
    margin-top: 30px !important;
}

.sub-txt {
    -webkit-text-fill-color: #fa8500;
}

.em-txt {
    text-shadow: 0 10px 10px rgba(0, 0, 0, 1);
    color: aliceblue;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.em-div {
    height: 80px;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* 
.row {
    padding-left: 20px;
    padding-right: 20px;
} */

.frnt-btn{
    height:10vh;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

/* .frnt-container{
    margin-top: 12.5vh;
} */
